*::before, *::after, * {
    box-sizing: border-box;
}

:root {
    --border-radius: 20px;
}

html {
    height: 100%;
}

body {
   min-height: 100svh;
   min-height: 100vh;
}

.container {  
    overflow: scroll;
    max-height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    gap: 66px 0px;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-areas:
      ". header ."
      ". weather ."
      ". . .";
  }
  
  .header { grid-area: header; }
  
  .weather { grid-area: weather; }

  .hour {
    max-height: 500px;
    overflow-y: scroll;
  }


  

.selectedCity {
    font-weight: bold;
}



.layout {
    display: grid;
    place-items: center;
    margin-top: 15rem;
    position: sticky;
}


.btn {
    border-radius: var(--border-radius);
}

.heroText {
    font-size: 1.2rem;
}


.smallBtn {
    border-radius: var(--border-radius);
   }

@media(width  > 430px) {
    .heroText {
        font-size: 2rem;
    }

   .smallBtn {
        width: 2.5rem;
        height: 2.5rem;
   }

   .tabs {
    display: flex;
    flex-direction: row;
    gap: 300px;    
    place-content: center;
    margin-top: 15rem;
   }

   .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   }
   

}