*::before, *::after, * {
    box-sizing: border-box;
}

:root {
    --border-radius: 20px;
}

body {
   min-height: 100%;
}

.layout {
    display: grid;
    place-items: center;
    margin-top: 15rem;
    position: sticky;
}

.sidebar {
    display:none;
}

.btn {
    border-radius: var(--border-radius);
}

.heroText {
    font-size: 1.2rem;
}

@media(width  > 430px) {
    .heroText {
        font-size: 2rem;
    }

    
}